* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    background-image: image(apple-pie-jpg);
}

.apple-pie {
    width: 100%;
    height: auto;
}

h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 4rem;
  width: 100%;
  height: auto;
}

section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
}

.recipe-info {
    width: 100%;
    height: auto;
    
}

.cooking-info {
    width: 100%;
    height: auto;
}